// app global css in SCSS form
.body--light {
    background: $grey-1;
    color: $grey-9;
}

body.body--dark {
    background: $dark;
}

.q-toolbar{
    min-height: 40px;
}

.q-table tbody tr:nth-child(odd) {
    background: $grey-2;
}

.q-table--dark tbody tr:nth-child(odd){
    background: $grey-9;
}

.q-table{
    .q-field{
        font-size: 12px;
    }
    .q-field--with-bottom{
        padding-bottom: 9px;
    }

    .q-field__inner{
        height: 20px;
    }

    .q-field__control{
        height: inherit;
    }

    .q-field__bottom{
        padding: 0;
        min-height: 10px;
    }

    .q-field__append{
        height: auto;
    }
}